/* Windows 11 font */
@import url(https://raw.githubusercontent.com/fo-od/Discord-11/refs/heads/main/release/font/SegoeUIVariableStaticDisplay.ttf);
/* Font */
:root {
    --font-primary: Segoe UI, sans-serif;
    --font-display: Segoe UI, sans-serif;
    --font-headline: Segoe UI, sans-serif;
}
