/* New Messages bubble */
#app-mount .message_d5deea[data-is-author-self="true"] {
    margin-left: auto;
    width: auto;
    padding-left: 48px;
    padding-right: 72px !important;
}

#app-mount .message_d5deea[data-is-author-self="true"] .container_b558d0 {
    direction: rtl;
}

#app-mount .message_d5deea[data-is-author-self="true"] .contents_f9f2ca {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 8px;
}
#app-mount .message_d5deea.selected_d5deea[data-is-author-self="true"] .contents_f9f2ca {
    width: 100%;
}

#app-mount .message_d5deea[data-is-author-self="true"] .timestamp_f9f2ca {
    left: unset;
    right: 8px;
}
#app-mount .message_d5deea[data-is-author-self="true"] .repliedMessage_f9f2ca {
    margin-left: auto;
}

#app-mount .replying_d5deea[data-is-author-self="true"] .contents_f9f2ca .messageContent_f9f2ca::before,
#app-mount .mentioned_d5deea[data-is-author-self="true"] .contents_f9f2ca .messageContent_f9f2ca::before {
    left: unset;
    right: 0;
}

#app-mount .message_d5deea[data-is-author-self="true"] .contents_f9f2ca .messageContent_f9f2ca {
    margin-left: auto;
}
#app-mount .message_d5deea[data-is-author-self="true"] a:not(.embed_b0068a .embedAuthorNameLink_b0068a) {
    margin-left: auto;
}

#app-mount .message_d5deea[data-is-author-self="true"] .embedAuthor_b0068a {
    direction: ltr;
}

#app-mount .message_d5deea[data-is-author-self="true"] .avatar_f9f2ca {
    left: unset;
    right: 16px;
}

#app-mount .message_d5deea[data-is-author-self="true"] .header_f9f2ca {
    display: flex;
    flex-direction: row-reverse;
}
#app-mount .message_d5deea[data-is-author-self="true"] .header_f9f2ca span {
    margin-left: .25rem;
    margin-right: unset;
}

#app-mount .message_d5deea[data-is-author-self="true"] .repliedMessage_f9f2ca:before {
    display: none;
}

#app-mount .contents_f9f2ca > .messageContent_f9f2ca {
    overflow: visible;
}

#app-mount .contents_f9f2ca pre {
    max-width: 100%;
}

#app-mount .contents_f9f2ca .messageContent_f9f2ca {
    background-color: var(--background-secondary);
    padding: 8px;
    margin-left: unset;
    border-radius: 7px;
    width: fit-content;
}
#app-mount .contents_f9f2ca {
    display: inline-block;
    max-width: 100%;
}
#app-mount .message_d5deea {
    max-width: 100%;
}
#app-mount .message_d5deea:hover:not(.replying_d5deea):not(.mentioned_d5deea) .contents_f9f2ca .messageContent_f9f2ca,
#app-mount .message_d5deea.selected_d5deea:not(.replying_d5deea):not(.mentioned_d5deea) .contents_f9f2ca .messageContent_f9f2ca {
    background-color: var(--background-secondary-alt);
}

#app-mount .message_d5deea.compact_f9f2ca.wrapper_f9f2ca[data-is-author-self="true"] .messageContent_f9f2ca {
    display: flex;
}

#app-mount .compact_f9f2ca.wrapper_f9f2ca {
    padding-top: 8px;
    padding-bottom: 8px;
}

#app-mount .mentioned_d5deea.compact_f9f2ca .contents_f9f2ca .messageContent_f9f2ca::before:not([data-is-author-self="true"]) {
    left: 4px;
}
#app-mount .replying_d5deea.compact_f9f2ca .contents_f9f2ca .messageContent_f9f2ca::before:not([data-is-author-self="true"]) {
    left: 4px;
}

#app-mount .mentioned_d5deea .contents_f9f2ca .messageContent_f9f2ca {
    background-color: var(--background-mentioned);
}
#app-mount .mentioned_d5deea:hover .contents_f9f2ca  .messageContent_f9f2ca,
#app-mount .mentioned_d5deea.selected_d5deea .contents_f9f2ca .messageContent_f9f2ca {
    background-color: var(--background-mentioned-hover);
}
#app-mount .mentioned_d5deea .contents_f9f2ca .messageContent_f9f2ca::before {
    background-color: var(--info-warning-foreground);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    border-radius: 1.5px;
    z-index: 1;
}
#app-mount .mentioned_d5deea:before {
    display: none;
}

#app-mount .repliedMessage_f9f2ca {
    background-color: var(--background-message-hover);
    margin-bottom: 0;
    padding: 6px;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
}

#app-mount .replying_d5deea .contents_f9f2ca .messageContent_f9f2ca {
    background-color: var(--brand-experiment-05a);
}
#app-mount .replying_d5deea:hover .contents_f9f2ca .messageContent_f9f2ca,
#app-mount .replying_d5deea.selected_d5deea .contents_f9f2ca .messageContent_f9f2ca {
    background-color: var(--brand-experiment-10a);
}
#app-mount .replying_d5deea .contents_f9f2ca .messageContent_f9f2ca::before {
    background-color: var(--brand-experiment);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    border-radius: 1.5px;
    z-index: 1;
}
.replying_d5deea:before {
    display: none;
}
.repliedMessage_f9f2ca:before {
    display: none;
}
