#app-mount .message_d5deea.selected_d5deea[data-is-author-self="true"] {
    width: auto;
}
#app-mount .message_d5deea.selected_d5deea[data-is-author-self="true"] .contents_f9f2ca {
    width: 100%;
}

#app-mount .contents_f9f2ca > .messageContent_f9f2ca {
    overflow: visible;
}

#app-mount .cozy_f9f2ca.wrapper_f9f2ca .contents_f9f2ca .header_f9f2ca {
    padding: 8px;
    padding-bottom: 4px;
}
#app-mount .cozy_f9f2ca.groupStart_d5deea .contents_f9f2ca .messageContent_f9f2ca:not(:empty, :first-child) {
    padding-top: 0;
}
#app-mount .cozy_f9f2ca .contents_f9f2ca > .messageContent_f9f2ca:not(:empty) {
    margin-left: 0;
    padding: 8px;
}

#app-mount .compact_f9f2ca .contents_f9f2ca {
    padding: 8px;
}

#app-mount .contents_f9f2ca pre {
    max-width: 100%;
}

#app-mount .contents_f9f2ca {
    background-color: var(--background-secondary);
    border-radius: 4px;
    width: fit-content;
}
#app-mount .contents_f9f2ca {
    display: inline-block;
    max-width: 100%;
}
#app-mount .message_d5deea {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
#app-mount .message_d5deea:hover .contents_f9f2ca,
#app-mount .message_d5deea.selected_d5deea .contents_f9f2ca {
    background-color: var(--background-secondary-alt);
}

#app-mount .compact_f9f2ca .contents_f9f2ca {
    margin-left: -64px;
    padding-left: 4rem;
}
#app-mount .mentioned_d5deea.compact_f9f2ca .contents_f9f2ca .messageContent_f9f2ca::before {
    left: -4px;
}
#app-mount .replying_d5deea.compact_f9f2ca .contents_f9f2ca .messageContent_f9f2ca::before {
    left: -4px;
}

#app-mount .mentioned_d5deea .contents_f9f2ca {
    background-color: var(--background-mentioned);
}
#app-mount .mentioned_d5deea:hover .contents_f9f2ca,
#app-mount .mentioned_d5deea.selected_d5deea .contents_f9f2ca {
    background-color: var(--background-mentioned-hover);
}

#app-mount .repliedMessage_f9f2ca {
    background-color: var(--background-message-hover);
    margin-bottom: 0;
    padding: 6px;
    border-radius: 3px;
    width: fit-content;
    max-width: 100%;
}
.repliedMessage_f9f2ca:before {
    display: none;
}

#app-mount .replying_d5deea .contents_f9f2ca {
    background-color: var(--brand-experiment-05a);
}
#app-mount .replying_d5deea:hover .contents_f9f2ca,
#app-mount .replying_d5deea.selected_d5deea .contents_f9f2ca {
    background-color: var(--brand-experiment-10a);
}

#app-mount .replying_d5deea:before {
    background-color: var(--brand-experiment);
}

#app-mount .mentioned_d5deea:before,
#app-mount .replying_d5deea:before {
    width: 3px;
    height: calc(100% - 12px);
    border-radius: 1.5px;
    left: 4px;
    top: 6px;
}

.a11y-font-scaled-down .cozy_f9f2ca .header_f9f2ca {
    margin-left: 0 !important;
}
